.right-side{
    grid-column: 3/4;
    width:100%;
    height: 100vh;
    
}
.right-side-content{
    position: fixed;
    top: 0;
    right: 0;
    overflow-y:scroll;
    width: 350px;
    height: 100%;
    padding-top: 70px;
}
.right-side-content h3{
    color: #65676b;
    padding: 30px 0;
}
.sponsored{
    display: flex;
    margin-bottom: 30px; 
    align-items: center;
}
.sponsored .img{
    width: 130px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
}
.sponsored .img img{
    max-width: 100%;
}
.sponsored p{
    font-weight: bold;
}
.sponsored p i{
    color: #cacaca;

}
.pages span{
    display: block;
    width:35px;
    height: 35px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    background: url('https://scontent-hbe1-1.xx.fbcdn.net/v/t1.0-9/29791091_235746260333016_4187601866291944174_n.png?_nc_cat=109&ccb=2&_nc_sid=09cbfe&_nc_ohc=jG-qK5dOJ8wAX_xDLWE&_nc_ht=scontent-hbe1-1.xx&oh=2bbdfdcb965c43f55296628bfe94f52f&oe=6045F991');
    background-position: center;
    background-size: contain;
    float: left;
    margin-right: 15px;
}
.pages{
    padding-bottom: 30px;
}
.pages h4{
    margin-bottom: 30px;
}
.pages p{
    padding-left: 20px;
    color: #606266;
    font-weight: 600; 
    padding: 10px 10px 10px 20px;
}
.pages i{
    font-size: 26px;
    margin-right: 15px;
}
hr{
    background-color: #ccc;
}
.contact{
    display: grid;
    grid-template-rows: repeat(10, 50px);
    align-items: center;
    row-gap: 10px;
}
.contact .contact-item{
    display: flex;
    align-content: center;
    line-height: 50px;
    padding: 5px 0;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.contact .contact-item:hover{
    background: #999;
    cursor: pointer;
}
.contact .contact-item span{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    background:#789ce4 ;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 15px;
    color: #fff;
    font-weight: 700;
}